@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
}

input {
    position: absolute;
    opacity: 0;
    width: 100vw;
    height: 100vh;
}